# Ignore the bin directory if it exists.
bin

# Ignore CMake build directories.
/build*

# Ignore the cscope/ctags index files.
cscope.*
tags

# Ignore Syntastic Vim plugin config.
.syntastic_cpp_config

# Ignore CMake compile commands file used by clang-tidy.
compile_commands.json

# Ignore the docs.
docs/neo
